// ----- header ------

header {
    .row {
        height: 90px;
    }
}

.menu {
    background-color: white;
    display: flex;
    height: -webkit-fill-available;
    z-index: 2;
}
 
// -----hamburger menu------
.hamburger-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
    


.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
}
    
.hamburger__box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

@mixin hamburger-line {
    width: 100%;
    height: 6px;
    background-color: black;
    position: absolute;
}

.hamburger__inner {
   @include hamburger-line;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner {
    &::before {
        @include hamburger-line;
        content: "";
        left: 0;
        top: -10px;
        transition: transform .3s .2s ease-in-out;
    }
    &::after {
        @include hamburger-line;
        content: "";
        left: 0;
        top: 10px;
        transition: transform .3s .2s ease-in-out;
    }
}

.hamburger--active {
    .hamburger__inner {
        background-color: transparent;
    }

    .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg) ;
    }

    .hamburger__inner:after {
        transform: translateY(-10px) rotate(-45deg) ;
    }
}

// ---------rolling mobile menu----------

.mobile-menu {
    background-color: black;
    height: 245px;
    transform: translateY(-245px);
    transition: transform .4s .1s ease-in-out;
    //z-index: -1;
    opacity: 0.8;

}

.mobile-menu--active {
    transform: translateY(0px);
}

.nav-list{
    list-style: none;
    li {
        margin-bottom: 20px;
    }

    a{
       color: white;
    }
}

.dropdown {
    display: none;

    li{
        margin-bottom: 8px;

    }

}

#services {

    &:hover{
        .dropdown {
            display: block;
        }
    }
}









