html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  color: #666666;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

button {
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .row {
  height: 90px;
}

.menu {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fill-available;
  z-index: 2;
}

.hamburger-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 6px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .3s .1s ease-in-out;
  transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner::before {
  width: 100%;
  height: 6px;
  background-color: black;
  position: absolute;
  content: "";
  left: 0;
  top: -10px;
  -webkit-transition: -webkit-transform .3s .2s ease-in-out;
  transition: -webkit-transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out, -webkit-transform .3s .2s ease-in-out;
}

.hamburger__inner::after {
  width: 100%;
  height: 6px;
  background-color: black;
  position: absolute;
  content: "";
  left: 0;
  top: 10px;
  -webkit-transition: -webkit-transform .3s .2s ease-in-out;
  transition: -webkit-transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out;
  transition: transform .3s .2s ease-in-out, -webkit-transform .3s .2s ease-in-out;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.mobile-menu {
  background-color: black;
  height: 245px;
  -webkit-transform: translateY(-245px);
          transform: translateY(-245px);
  -webkit-transition: -webkit-transform .4s .1s ease-in-out;
  transition: -webkit-transform .4s .1s ease-in-out;
  transition: transform .4s .1s ease-in-out;
  transition: transform .4s .1s ease-in-out, -webkit-transform .4s .1s ease-in-out;
  z-index: 1;
  opacity: 0.9;
}

.mobile-menu--active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.nav-list {
  list-style: none;
}

.nav-list li {
  margin-bottom: 20px;
}

.nav-list a {
  color: white;
}

.dropdown {
  display: none;
}

.dropdown li {
  margin-bottom: 8px;
}

#services:hover .dropdown {
  display: block;
}

.hero-image {
  position: fixed;
  height: 94vh;
  max-width: 100%;
  position: relative;
  background-image: url("/src/assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0%;
  z-index: -2;
}

.hero-image-text {
  text-align: center;
  padding-top: 17vh;
}

.hero-image-text h5 {
  color: white;
  letter-spacing: 2px;
  margin-top: 14px;
  margin-bottom: 30px;
}

.hero-image-text h2 {
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}

.hero-image-text p {
  color: white;
  font-size: 17px;
  margin-bottom: 0;
}

.services {
  padding-bottom: 30px;
}

.services .row {
  margin-bottom: 20px;
}

.service-title {
  text-align: center;
}

.service-title h2 {
  margin-bottom: 10px;
}

.service-item {
  text-align: center;
  padding: 40px 30px 30px;
  background-color: white;
  margin-bottom: 30px;
}

.service-item:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 39px rgba(154, 87, 87, 0.1);
          box-shadow: 0px 5px 39px rgba(154, 87, 87, 0.1);
}

.service-item img {
  max-width: 45%;
}

.service-item h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 12px;
}

.service-item p {
  font-size: 16px;
  margin-bottom: 0;
}

.request {
  height: 124vh;
  position: relative;
}

.request .container {
  position: absolute;
  top: 168px;
}

.request-bg {
  height: 368px;
  max-width: 100%;
  background-image: url("/src/assets/request-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0%;
}

.request-form {
  top: -199px;
  height: 700px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 39px rgba(154, 87, 87, 0.1);
          box-shadow: 0px 5px 39px rgba(154, 87, 87, 0.1);
}

.request-title {
  background: #767b67;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  height: 200px;
}

.request-title h6 {
  padding-top: 42px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

.request-title p {
  padding-top: 46px;
  color: white;
}

.request-title h2 {
  margin-bottom: -31px;
  margin-top: -17px;
  color: white;
}

.request-title:after {
  position: absolute;
  left: 0;
  bottom: -24px;
  right: 0;
  height: 26px;
  width: 287px;
  background: url("/src/assets/arrow.png");
  content: "";
  margin: 0 auto;
}

form .row {
  text-align: center;
  padding-top: 40px;
}

form .row div {
  padding-top: 30px;
}

form input {
  width: 75%;
  height: 45px;
  border: 1px solid #e1e1e1;
  color: #666666;
  padding-left: 15px;
}

form select {
  width: 75%;
  height: 45px;
  border: 1px solid #e1e1e1;
  color: #666666;
  padding-left: 15px;
}

form textarea {
  width: 75%;
  height: 100px;
  border: 1px solid #e1e1e1;
  color: #666666;
  padding-left: 15px;
}

form button {
  margin-top: 20px;
  height: 45px;
  width: 200px;
  background-color: #939984;
  color: white;
}

form #message {
  height: 200px;
}

.slider {
  margin-top: 100px;
}

.slick-slide {
  margin: 0px 20px;
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  width: 100%;
  display: block;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

footer {
  background-color: #3b3e33;
  color: white;
  margin-top: 53px;
}

footer .container-fluid {
  height: inherit;
}

footer img {
  width: 156px;
}

footer .col-12 {
  margin-top: 20px;
}

#info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-item h5 {
  color: white;
}

.footer-item ul {
  margin-top: 25px;
}

.footer-copyright {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright p {
  color: white;
}

.map {
  height: 500px;
}

.map iframe {
  width: 100%;
}

.contact-spad {
  margin-bottom: 80px;
  margin-top: 40px;
}

.contact-spad h2 {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-info {
  margin-bottom: 50px;
}

.contact-widget ul {
  margin-top: 30px;
  padding-left: initial;
}

.contact-widget li {
  list-style: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.contact-widget-icon i {
  font-size: 20px;
  height: 50px;
  width: 50px;
  background: #a3a697;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

.contact-widget-text {
  margin-left: 25px;
}

.contact-widget-text p {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  display: block;
  font-style: italic;
}

.contact-form .row {
  padding-top: 12px;
}

.contact-form input {
  width: 100%;
  color: #444444;
  border: 1px solid #e1e1e1;
  font-size: 14px;
}

.contact-form input::-webkit-input-placeholder {
  color: #444444;
}

.contact-form input:-ms-input-placeholder {
  color: #444444;
}

.contact-form input::-ms-input-placeholder {
  color: #444444;
}

.contact-form input::placeholder {
  color: #444444;
}

.contact-form form {
  margin-top: 15px;
}

.contact-form form textarea {
  margin-top: 30px;
  padding-top: 10px;
  width: 100%;
  height: 100px;
  border: 1px solid #e1e1e1;
  color: #666666;
  padding-left: 15px;
}

.contact-form form button {
  margin-top: 20px;
  height: 45px;
  width: 140px;
  background-color: #939984;
  color: white;
}

.photo-gallery {
  margin-top: 80px;
  margin-bottom: 50px;
}

.photo-gallery .car-text {
  text-align: center;
  margin-bottom: 50px;
  z-index: -1;
}

.photo-gallery .car-text h2, .photo-gallery .car-text h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  word-spacing: 1.5px;
}

.photo-gallery img {
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */